<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>career</title>
	<link rel="stylesheet" href="static/styles.css">
</head>
<body>
	<div class="register">
		<div 
		style="
			display: flex;
			width: 80%;
			padding: 5px;
			justify-content: center;
			align-items: center;">
    {% if current_user.id == 1 %}
    	<a 
			class="login" 
			href="{{ url_for('referral') }}">
			Active referrals
		</a>
    	<a 
			class="login" 
			href="{{ url_for('get_accounts') }}">
			<span 
				class="num-count">
				{{ data|length }}
			</span> Accounts
		</a>
    	<a 
			class="login" 
			href="{{ url_for('get_post') }}">
			<span 
				class="num-count">
				{{ post|length }}
			</span> suspended Post
		</a>
		<a 
			class="login" 
			href="{{ url_for('suspended_tech') }}">
			<span 
				class="num-count">
				{{ suspended_tech|length }}
			</span> suspended tech
		</a>
    	<a 
			class="login" 
			href="{{ url_for('get_user') }}">
			<span 
				class="num-count">
				{{ tech|length }}
			</span> Tech
		</a>
    {% endif %}
		</div>
		<div 
		style="
			display: flex;
			flex-direction: row-reverse;
			width: 20%;
			padding: 5px;">
    {% if not logged_in %}
    	<a class="login" href="{{ url_for('login') }}">login</a>
    	<a class="login" href="{{ url_for('register') }}">register</a>
    {% else %}
		<a 
			style="width: auto;"
			class="login" href="{{ url_for('home')}}">
			Home
		</a>
    	<a 
			style="width: auto;"
			class="login" href="{{ url_for('logout') }}">logout
		</a>
    {% endif %}
		</div>
  	</div>
	<div class="bottom-nav">
		 <div>
			 <a href="{{ url_for('home') }}">🏠</a>
			 <a href="{{ url_for('add_product') }}">➕</a>
			{% if logged_in %}
			<a href="{{ url_for('profile_page') }}"
		 		class="{% if active_page == 'profile' %}active{% endif %}">
		 		👤
			</a>
			{% else %}
			<a href="%"
		 		class="{% if active_page == 'profile' %}active{% endif %}">
		 		👤
			</a>
			{% endif %}
		</div>
	</div>
	<div class="label">
		<div class="hero-text">
			<h1 class="name"><span>C</span>ee<strong><span>f</span></strong>in<span>d</span></h1>
			<h2 class="def">crea<span class="span">te y</span>our career <span class="span">profile</span></h2>
		</div>
	</div>
	<div class="box-container">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p>{{ message }}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	{% if current_user.is_verified %}
 <form 
    style="
        padding: 20px auto;
        min-width: 70%;
        max-width: 600px;
        "
    class="login-form""
 	method="POST" 
	action="{{ url_for('create_tech') }}" 
	enctype="multipart/form-data">
	{{ form.hidden_tag() }}

	{{ form.shop_name.label }}{{ form.shop_name }}
	{{ form.career.label }} {{ form.career }}
	{{ form.state.label }} {{ form.state }}
	<label>location</label>
	<button style="margin-bottom: 10px; margin-top: 0; height: auto; padding: 4px; font-size: 15px;" type="button" onclick="getLocation()">Use My Location</button>
	{{ form.contact.label }} {{ form.contact }}
	{{ form.working_hours.label }} {{ form.working_hours }}
	{{ form.image.label }} {{ form.image }}
	{{ form.latitude(id="latitude") }}
	{{ form.longitude(id="longitude") }}

	{{ form.submit }}
</form>
	{% else %}
	{% if logged_in %}
            <p style="font-size: 20px;
                text-align: center;
                width: 60%;
                display: block;
                margin: auto">
                only verified user's can create a profile.
            </p>
            <a style="
                width: 40%;
                display: block;
                margin: auto;
                color: white;
                background-color: green;
                text-align: center;
                border-radius: 10px;
                padding: 2px;" 
                href="{{ url_for('send_verification_email', email=current_user.email) }}">
                verify your email
            </a>
        {% endif %}
        {% endif %}
	</div>
	<div class="bottom-block">

	</div>
<script>
	function getLocation() {
	if ("geolocation" in navigator) {
		navigator.geolocation.getCurrentPosition(function(position) {
			document.getElementById("latitude").value = position.coords.latitude;
			document.getElementById("longitude").value = position.coords.longitude;
		});
	} else {
		alert("Geolocation not supported.");
	}
}
</script>
</body>
</html>

