<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>CeeFind</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="bottom-nav">
    	<div>
    		<a href="{{ url_for('home') }}"
            	class="{% if active_page == 'home' %}active{% endif %}">
     			🏠
    		</a>

    		<a href="{{ url_for('add_product') }}"
       			class="{% if active_page == 'add' %}active{% endif %}">
     			➕
    	 	</a>

  			<a href="{{ url_for('profile_page') }}"
     			class="{% if active_page == 'profile' %}active{% endif %}">
     			👤
  			</a>
  		</div>
	</div>
    <div class="register">
		<div 
		style="
			display: flex;
			width: 80%;
			padding: 5px;
			justify-content: center;
			align-items: center;">
    {% if current_user.id == 1 %}
    	<a class="login" href="{{ url_for('referral') }}">Active referrals</a>
    	<a class="login" href="{{ url_for('get_accounts') }}"><span class="num-count">{{ data|length }}</span> Accounts</a>
    		<a class="login" href="{{ url_for('get_post') }}"><span class="num-count">{{ post|length }}</span> suspended Post</a>
		<a class="login" href="{{ url_for('suspended_tech') }}"><span class="num-count">{{ suspended_tech|length }}</span> suspended tech</a>
    	<a class="login" href="{{ url_for('get_user') }}"><span class="num-count">{{ tech|length }}</span> Tech</a>
    {% endif %}
		</div>
		<div 
		style="
			display: flex;
			flex-direction: row-reverse;
			width: 20%;
			padding: 5px;">
    	<a 
			style="width: auto;"
			class="login" 
			href="{{ url_for('logout') }}">
			logout
		</a>
    	<a 
			style="width: auto;"
			class="login" 
			href="{{ url_for('home') }}">
			Home
		</a>
    
		</div>
  	</div>
    <div class="label">
    	<div class="hero-text">
      		<h1 class="name"><span>C</span>ee<strong><span>f</span></strong>in<span>d</span></h1>
      		<h2 class="def">Techni<span class="span">cian l</span>i<span class="span">st</span></h2>
    	</div>
    </div>
    <div style="
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
		gap: 20px;">
		{% for t in tech %}
  
    	<div style="
  			width: 60%;
  			height: 100%; padding: 0;" 
			class="items">
  			<div class="p-img-box">
				{% if t.image %}
    			<img class="p-img" src="{{ url_for('uploaded_file', filename=t.image) }}"/>
				{% endif %}
  			</div>
  			<h3 class="p-details">Shop Name: {{ t.shop_name }}</h3>
  			<h3 class="p-details">ID: {{ t.id }}</h3>
  			<h3 class="p-details">Email Adress: {{ t.email }}</h3>
  			{% if tech.is_suspended %}
  				<span class="badge bg-danger">Suspended</span>
  			{% endif %}
  			<a style="
				height: auto; 
  				margin-top: 3px;
  				margin-bottom: 3px;" 
				href="{{ url_for('delete', name=t.shop_name) }}" 
				class="delete-button">
				Delete
			</a>
    	</div>
  		{% endfor %}
    </div>
    <div class="bottom-block">
    </div>
</body>
</html>


