<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="static/styles.css">
 
</head>
<body>
    <div class="register">
		<div 
		style="
			display: flex;
			width: 80%;
			padding: 5px;
			justify-content: center;
			align-items: center;">
    {% if current_user.id == 1 %}
    	<a 
			class="login" 
			href="{{ url_for('referral') }}">
			Active referrals
		</a>
    	<a 
			class="login" 
			href="{{ url_for('get_accounts') }}">
			<span 
				class="num-count">
				{{ data|length }}
			</span> Accounts
		</a>
    	<a 
			class="login" 
			href="{{ url_for('get_post') }}">
			<span 
				class="num-count">
				{{ post|length }}
			</span> suspended Post
		</a>
		<a 
			class="login" 
			href="{{ url_for('suspended_tech') }}">
			<span 
				class="num-count">
				{{ suspended_tech|length }}
			</span> suspended tech
		</a>
    	<a 
			class="login" 
			href="{{ url_for('get_user') }}">
			<span 
				class="num-count">
				{{ tech|length }}
			</span> Tech
		</a>
    {% endif %}
		</div>
		<div 
		style="
			display: flex;
			flex-direction: row-reverse;
			width: 20%;
			padding: 5px;">
    {% if not logged_in %}
    	<a class="login" href="{{ url_for('login') }}">login</a>
    	<a class="login" href="{{ url_for('register') }}">register</a>
    {% else %}
    	<a 
			style="width: auto;"
			class="login" href="{{ url_for('logout') }}">logout</a>
    {% endif %}
		</div>
  	</div>
 	<div class="label">
    	<div class="hero-text">
      		<h1 class="name"><span>C</span>ee<strong><span>f</span></strong>in<span>d</span></h1>
      		<h2 class="def">inst<span class="span">antly b</span>ook your rep<span class="span">airs</span></h2>
    	</div>
  	</div>
   
  	<div class="bottom-nav">
    	<div>
  			<a href="{{ url_for('home') }}"
     			class="{% if active_page == 'home' %}active{% endif %}">
     			🏠
  			</a>
  {% if not logged_in %}
  			<a href="{{ url_for('login') }}">
    			 ➕
  			</a>
  {% else %}
  			<a href="{{ url_for('add_product') }}"
    			 class="{% if active_page == 'add_product' %}active{% endif %}">
     			➕
  			</a>
  {% endif %}
			{% if logged_in %}
			<a href="{{ url_for('profile_page') }}"
		 		class="{% if active_page == 'profile' %}active{% endif %}">
		 		👤
			</a>
			{% else %}
			<a href="#"
		 		class="{% if active_page == 'profile' %}active{% endif %}">
		 		👤
			</a>
			{% endif %}
  		</div>
	</div>

  	<nav class="navbar">
    	<a class="nav" href="{{ url_for('home') }}">
      		🏠
    	</a>
    	<a class="nav" href="{{ url_for('s_l') }}">Sales/Lease</a>
    	<a class="nav" href='{{ url_for("view_tech") }}'>Engineers</a>
  	</nav>
  	<div 
		class="slider">
   		<div
			class="slides" 
			id="slideContainer">
  			<div id="advert">
    			<p>Are you a Technician?</p>
    			<p>Available for jobs?</p>
    {% if not logged_in %}
    			<a href="{{ url_for('login') }}">Click now to create your profile</a>
    {% else %}
    			<a href="{{ url_for('create_tech') }}">Click now to create your profile</a>
    {% endif %}
  			</div>
  			<div style="
				background: url('static/adverts.jpg'); 
				background-size: cover;
  				background-position: center;" id="advert">
    			<p style="color: white; font-weight: normal;">Are you a business personel?</p>
    			<p style="color: white; font-weight: normal;">Advertise now on CeeFind...</p>
    		{% if not logged_in %}
    			<a href="{{ url_for('login') }}">Click to advertise your product</a>
    		{% else %}
    			<a style="color: yello" href="{{ url_for('add_product') }}">Click to advertise your product</a>
    		{% endif %}
  			</div>
  		</div>
  	</div>
	<div class="product-container">
		{% if accessories %}
  		<div
			id="accessories" 
			class="flex-container">
		{% for p in accessories %}
		<a 
		style="color: black;"
		href="{{ url_for('product_view', id=p.id)}}">
		{% if p %}
    	<div class="product-card">
			<div class="product-img">
      			<img src="{{ url_for('uploaded_file', filename=p.image) }}">
			</div>
			<div class="product-info">
				<h3 style="
				font-size: 12px;
				font-weight: normal;
				overflow: hidden;">Product: {{ p.name }}</h3>
      			<h3 style="
				font-size: 10px;
				font-weight: normal;">Price: ₦ {{ p.price }}</h3>
      			
			</div>
    	</div>
		{% else %}
		<P></P>
		{% endif %}
		</a>
		{% endfor %}
  		</div>
		{% endif %}
		{% if electronics %}
  		<div
			id="electronics" 
			class="flex-container">
		{% for p in electronics %}
		<a 
		style="color: black;"
		href="{{ url_for('product_view', id=p.id)}}">
		{% if p %}
    	<div class="product-card">
			<div class="product-img">
      			<img src="{{ url_for('uploaded_file', filename=p.image) }}">
			</div>
			<div class="product-info">
				<h3 style="
				font-size: 10px;
				font-weight: normal;
				overflow: hidden;">Product: {{ p.name }}</h3>
      			<h3 style="
				font-size: 10px;
				font-weight: normal;">Price: ₦ {{ p.price }}</h3>
      			
			</div>
    	</div>
		{% else %}
		<P></P>
		{% endif %}
		</a>
		{% endfor %}
  		</div>
		{% endif %}
		{% if fashion %}
  		<div 
			id="fashion"
			class="flex-container">
		{% for p in fashion %}
		<a 
		style="color: black;"
		href="{{ url_for('product_view', id=p.id)}}">
		{% if p %}
    	<div class="product-card">
			<div class="product-img">
      			<img src="{{ url_for('uploaded_file', filename=p.image) }}">
			</div>
			<div class="product-info">
				<h3 style="
				font-size: 10px;
				font-weight: normal;
				overflow: hidden;">Product: {{ p.name }}</h3>
      			<h3 style="
				font-size: 10px;
				font-weight: normal;">Price: ₦ {{ p.price }}</h3>
      			
			</div>
    	</div>
		{% else %}
		<P></P>
		{% endif %}
		</a>
		{% endfor %}
  		</div>
		{% endif %}
		{% if equipment %}
  		<div 
			id="equipment"
			class="flex-container">
		{% for p in equipment %}
		<a 
		style="color: black;"
		href="{{ url_for('product_view', id=p.id)}}">
		{% if equipment %}
    	<div class="product-card">
			<div class="product-img">
      			<img src="{{ url_for('uploaded_file', filename=p.image) }}">
			</div>
			<div class="product-info">
				<h3 style="
				font-size: 10px;
				font-weight: normal;
				overflow: hidden;">Product: {{ p.name }}</h3>
      			<h3 style="
				font-size: 10px;
				font-weight: normal;">Price: ₦ {{ p.price }}</h3>
      			
			</div>
    	</div>
		{% else %}
		<P></P>
		{% endif %}
		</a>
		{% endfor %}
  		</div>
		{% endif %}
		{% if automobile %}
  		<div
			id="automobile" 
			class="flex-container">
		{% for p in automobile %}
		<a 
		style="color: black;"
		href="{{ url_for('product_view', id=p.id)}}">
		{% if p %}
    	<div class="product-card">
			<div class="product-img">
      			<img src="{{ url_for('uploaded_file', filename=p.image) }}">
			</div>
			<div class="product-info">
				<h3 style="
				font-size: 10px;
				font-weight: normal;
				overflow: hidden;">Product: {{ p.name }}</h3>
      			<h3 style="
				font-size: 10px;
				font-weight: normal;">Price: ₦ {{ p.price }}</h3>
      			
			</div>
    	</div>
		{% else %}
		<P></P>
		{% endif %}
		</a>
		{% endfor %}
  		</div>
		{% endif %}
		{% if mobile %}
  		<div 
			id="mobile"
			class="flex-container">
		{% for p in mobile %}
		<a 
		style="color: black;"
		href="{{ url_for('product_view', id=p.id)}}">
		{% if p %}
    	<div class="product-card">
			<div class="product-img">
      			<img src="{{ url_for('uploaded_file', filename=p.image) }}">
			</div>
			<div class="product-info">
				<h3 style="
				font-size: 10px;
				font-weight: normal;
				overflow: hidden;">Product: {{ p.name }}</h3>
      			<h3 style="
				font-size: 10px;
				font-weight: normal;">Price: ₦ {{ p.price }}</h3>
      			
			</div>
    	</div>
		{% else %}
		<P></P>
		{% endif %}
		</a>
		{% endfor %}
  		</div>
		{% endif %}
		{% if lands %}
  		<div 
			id="lands"
			class="flex-container"> 
			{% for p in lands %}
			{% if p %}
			<a 
			style="color: black;"
			href="{{ url_for('product_view', id=p.id)}}">
    		<div class="product-card">
				<div class="product-img">
      				<img src="{{ url_for('uploaded_file', filename=p.image) }}">
				</div>
				<div class="product-info">
					<h3 style="
					font-size: 10px;
					font-weight: normal;
					overflow: hidden;">Product: {{ p.name }}</h3>
      				<h3 style="
					font-size: 10px;
					font-weight: normal;">Price: ₦ {{ p.price }}</h3>
	
				</div>
    		</div>
			</a>
			{% else %}
			<P style="display: none;"></P>
			{% endif %}
			{% endfor %}
  		</div>
		{% endif %}
	</div>
		{% include 'footer.html ' %}
  	<div class="bottom-block">
  	</div>
  <script>
    let index = 0;
  const slides = document.getElementById("slideContainer");
  const slider = document.querySelector(".slider");
  const totalSlides = slides.children.length;

  function showSlide() {
    const slideWidth = slider.clientWidth;
    slides.style.transform = `translateX(${-index * slideWidth}px)`;
  }

  function nextSlide() {
    index = (index + 1) % totalSlides;
    showSlide();
  }

  function prevSlide() {
    index = (index - 1 + totalSlides) % totalSlides;
    showSlide();
  }

  setInterval(nextSlide, 4000);

  let startX = 0;
  let endX = 0;

  slides.addEventListener('touchstart', function(e) {
    startX = e.touches[0].clientX;
  });

  slides.addEventListener('touchmove', function(e) {
    endX = e.touches[0].clientX;
  });

  slides.addEventListener('touchend', function() {
    let diff = startX - endX;

    if (diff > 50) {
      nextSlide();
    } else if (diff < -50) {
      prevSlide();
    }
  });

  window.addEventListener("resize", showSlide);
 
  </script>
</body>
</html>

