<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>career</title>
	<link rel="stylesheet" href="static/styles.css">
</head>
<body>
	<div class="register">
		<a class="login" href="{{ url_for('home') }}">🏠</a>
	</div>
	<div class="label">
		<div class="hero-text">
			<h1 class="name"><span>C</span>ee<strong><span>f</span></strong>in<span>d</span></h1>
			<h2 class="def">crea<span class="span">te y</span>our career <span class="span">profile</span></h2>
		</div>
	</div>
	<div class="box-container">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p>{{ message }}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
 <form method="POST">
	{{ form.hidden_tag() }}

	{{ form.shop_name }}
	{{ form.career }}
	{{ form.state }}
	{{ form.address }}
	{{ form.contact }}
	{{ form.working_hours }}

	{{ form.latitude(id="latitude") }}
	{{ form.longitude(id="longitude") }}

	<button type="button" onclick="getLocation()">Use My Location</button>

	{{ form.submit }}
</form>
	</div>

<script>
	function getLocation() {
	if ("geolocation" in navigator) {
		navigator.geolocation.getCurrentPosition(function(position) {
			document.getElementById("latitude").value = position.coords.latitude;
			document.getElementById("longitude").value = position.coords.longitude;
		});
	} else {
		alert("Geolocation not supported.");
	}
}
</script>
</body>
</html>

