<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>CeeFind</title>
    <link rel="stylesheet" href="static/styles.css">
 
</head>
<body>
    <div class="register">
		<div 
		style="
			display: flex;
			width: 80%;
			padding: 5px;
			justify-content: center;
			align-items: center;">
    {% if current_user.id == 1 %}
    	<a 
			class="login" 
			href="{{ url_for('get_accounts') }}">
			<span 
				class="num-count">
				{{ data|length }}
			</span> Accounts
		</a>
    	<a 
			class="login" 
			href="{{ url_for('get_post') }}">
			<span 
				class="num-count">
				{{ post|length }}
			</span> suspended Post
		</a>
		<a 
			class="login" 
			href="{{ url_for('suspended_tech') }}">
			<span 
				class="num-count">
				{{ suspended_tech|length }}
			</span> suspended tech
		</a>
    	<a 
			class="login" 
			href="{{ url_for('get_user') }}">
			<span 
				class="num-count">
				{{ tech|length }}
			</span> Tech
		</a>
    {% endif %}
		</div>
		<div 
		style="
			display: flex;
			flex-direction: row-reverse;
			width: 20%;
			padding: 5px;">
    {% if not logged_in %}
    	<a class="login" href="{{ url_for('login') }}">login</a>
    	<a class="login" href="{{ url_for('register') }}">register</a>
    {% else %}
    	<a 
			style="width: auto;"
			class="login" href="{{ url_for('logout') }}">logout
		</a>
		<a 
			style="width: auto;"
			class="login" href="{{ url_for('home')}}">
			Home
		</a>
    {% endif %}
		</div>
  	</div>
    <div class="label">
    	<div class="hero-text">
      		<h1 class="name"><span>C</span>ee<strong><span>f</span></strong>in<span>d</span></h1>
      		<h2 class="def">Refer<span class="span">rals ta</span>b<span class="span">le</span></h2>
     	</div>
    </div>
    <div class="bottom-nav">
    	<div>
  			<a href="{{ url_for('home') }}"
    			class="{% if active_page == 'home' %}active{% endif %}">
     			🏠
  			</a>

  			<a href="{{ url_for('add_product') }}"
    	 		class="{% if active_page == 'add' %}active{% endif %}">
     			➕
  			</a>

  			<a href="{{ url_for('profile_page') }}"
     			class="{% if active_page == 'profile' %}active{% endif %}">
    			👤
  			</a>
  		</div>
	</div>
    <table>
  		<thead>
    		<tr>
      			<th>None</th>
      			<th>Social media</th>
      			<th>Friend</th>
      			<th>Advert</th>
      			<th>Agent</th>
    		</tr>
  		</thead>
    	<tbody>

    		<tr>
    		    <td>{{ name|length }}</td>
    		    <td>{{ media|length }}</td>
    		    <td>{{ friend|length }}</td>
    		    <td>{{ advert|length }}</td>
    		    <td>{{ agent|length }}</td>
    		</tr>
    
  		</tbody>
	</table>

    <h2 style="font-size: 16px; margin-left: 10px;">Names of users without referrals:
    	<ul>
  {% for names in name %}
  			<li style="font-size: 16px; color: red;">{{ names }}</li>
  {% endfor %}
		</ul>

    <h2 style="font-size: 16px; margin-left: 10px;">Names of users referred from social media:
    	<ul>
  {% for names in media %}
  			<li style="font-size: 16px; color: blue;">{{ names }}</li>
  {% endfor %}
		</ul>
  	<h2 style="font-size: 16px; margin-left: 10px;">Names of users referred by a friend:
		<ul>
  {% for names in friend %}
  			<li style="font-size: 16px;">{{ names }}</li>
  {% endfor %}
		</ul>

	<h2 style="font-size: 16px; margin-left: 10px;">Names of users referred from advert:
		<ul>
  {% for names in advert %}
  			<li style="font-size: 16px; color: green;">{{ names }}</li>
  {% endfor %}
		</ul>

	<h2 style="font-size: 16px; margin-left: 10px;">Names of users referred by an agent:
		<ul>
  {% for names in agent %}
  			<li style="font-size: 16px; color: purple;">{{ names }}</li>
  {% endfor %}
		</ul>
</body>
</html>

