<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
		<title>Home</title>
		<link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="register">
		<div 
		style="
			display: flex;
			width: 80%;
			padding: 5px;
			justify-content: center;
			align-items: center;">
		</div>
		<div 
		style="
			display: flex;
			flex-direction: row-reverse;
			width: 20%;
			padding: 5px;">
    {% if not logged_in %}
    	<a class="login" href="{{ url_for('login') }}">login</a>
    	<a class="login" href="{{ url_for('register') }}">register</a>
    {% else %}
    	<a 
			style="width: auto;"
			class="login" href="{{ url_for('logout') }}">logout</a>
    {% endif %}
		</div>
  	</div>
		<div class="box-container">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
				 <p class="message">{{ message }}</p>  
				{% endfor %}
			{% endif %}
		{% endwith %}
		<form 
			class="login-form"
			action="{{ url_for('register') }}" 
			method="post" 
			novalidate 
			enctype="multipart/form-data">
				{{ form.csrf_token }}
				{{ form.first_name.label }} {{ form.first_name() }}
				{% for err in form.first_name.errors %} <span style="color:red">{{ err }}</span> {% endfor %}
				{{ form.last_name.label }} {{ form.last_name() }}
				{% for err in form.last_name.errors %} <span style="color:red">{{ err }}</span> {% endfor %}
				{{ form.email.label }} {{ form.email() }}
				{% for err in form.email.errors %} <span style="color:red">{{ err }}</span> {% endfor %}
				{{ form.image.label }} {{ form.image }}
				{{ form.referral.label }} {{ form.referral }}
				{{ form.password.label }} {{ form.password() }}
				{{ form.re_password.label }} {{ form.re_password() }}
				{{ form.submit }}
				<div class="forgotten-password">
						<a id="forgotten" href="#">Already have an account?</a>                              
						<a id="register" href="{{ url_for('login') }}">Login</a>
				</div>
		</form>
		<a href="{{ url_for('google.login') }}" class="google-btn">
			Continue with Google
		</a>

		<div>
</body>
</html>


					 
																																																																										 

