<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Ceefind</title>
    <link rel="stylesheet" href="static/styles.css">
 
</head>
<body>
    <div class="register">
		<div 
		style="
			display: flex;
			width: 80%;
			padding: 5px;
			justify-content: center;
			align-items: center;">
    {% if current_user.id == 1 %}
    	<a 
			class="login" 
			href="{{ url_for('referral') }}">
			Active referrals
		</a>
    	<a 
			class="login" 
			href="{{ url_for('get_accounts') }}">
			<span 
				class="num-count">
				{{ data|length }}
			</span> Accounts
		</a>
    	<a 
			class="login" 
			href="{{ url_for('get_post') }}">
			<span 
				class="num-count">
				{{ post|length }}
			</span> suspended Post
		</a>
    	<a 
			class="login" 
			href="{{ url_for('get_user') }}">
			<span 
				class="num-count">
				{{ tech|length }}
			</span> Tech
		</a>
    {% endif %}
		</div>
		<div 
		style="
			display: flex;
			flex-direction: row-reverse;
			width: 20%;
			padding: 5px;">
    {% if not logged_in %}
    	<a class="login" href="{{ url_for('login') }}">login</a>
    	<a class="login" href="{{ url_for('register') }}">register</a>
    {% else %}
    	<a 
			style="width: auto;"
			class="login" href="{{ url_for('logout') }}">logout
		</a>
		<a 
			style="width: auto;"
			class="login" href="{{ url_for('home')}}">
			Home
		</a>
    {% endif %}
		</div>
  	</div>
  	<div class="label">
    	<div class="hero-text">
      		<h1 class="name"><span>C</span>ee<strong><span>f</span></strong>in<span>d</span></h1>
      		<h2 class="def">inst<span class="span">antly b</span>ook your rep<span class="span">airs</span></h2>
    	</div>
  	</div>
   
  	<div class="bottom-nav">
    	<div>
  			<a href="{{ url_for('home') }}"
    	 		class="{% if active_page == 'home' %}active{% endif %}">
     			🏠
  			</a>
  			<a href="{{ url_for('add_product') }}"
    			class="{% if active_page == 'add_product' %}active{% endif %}">
     			➕
  			</a>

  			<a href="{{ url_for('profile_page') }}"
     			class="{% if active_page == 'profile' %}active{% endif %}">
     			👤
  			</a>
  		</div>
	</div>
  	<div class="random">
    {% for p in suspended_tech %}
    	<div style="
			position: relative;
  			display: block;
  			margin: 10px auto;
  			max-width: 100%;
  			max-height: 350px;
  			text-align: center;
  			border: 2px solid green;
  			border-bottom-right-radius: 35px;
  			border-top-right-radius: 35px;
  			border-bottom-left-radius: 35px;
  			">
      		<img style="
				margin-bottom: 0;" 
				src="{{ url_for('uploaded_file', filename=p.image) }}"/>
  
       		<h3 style="font-size: 12px; margin-top: 0;" class="p-details">Id: {{ p.id }}</h3>
       		<h3 style="font-size: 12px; margin-top: 0;" class="p-details">Name: {{ p.shop_name }}</h3>
       		<h3 style="font-size: 12px; margin-top: 0;" class="p-details">Email Adress: {{ p.author.email }}</h3>
    {% if p.is_suspended %}
        {% if report  %}
        {% for r in report %}
       		<h3 style="font-size: 12px;" class="p-details">reporters: {{ r.reporter_name }}</h3>
        {% endfor %}
        {% endif %}
       		<h3 style="
                 color:red; 
                 transform:rotate(45deg); 
                 border:1px dashed red;
                 z-index: 1001;
                 position: absolute;
                 bottom: 150px;
				 left: 40px;
                 padding: 10px;
                 font-size: 20px;
                 
     ">post suspended</h3>
  {% endif %}
       		<a 
				style="
					display: block;
  					border-radius: 20px;
  					width: 60%;
  					background-color: transparent;
  					padding: 5px;
  					color:green;
  					font-size: 15px;
  					font-weight: bold;
  					left: 17%;
  					position: absolute;
  					bottom: 74px;" 
				href="{{ url_for('view_appeal', id=p.id) }}">
				Review appeal
			</a>
       		<a 
				id="delete-post" 
				href="{{ url_for('profile_view', name=p.shop_name) }}">
				Review profile
			</a>
       		<a 
				style="
					display: block;
  					border-radius: 20px;
  					width: 60%;
  					background-color: transparent;
  					padding: 5px;
  					color:green;
  					font-size: 15px;
  					font-weight: bold;
  					left: 17%;
  					position: absolute;
  					bottom: 16px;" 
				href="{{ url_for('clear_tech', id=p.id) }}">
				Remove Flag
			</a>
  		</div>
  {% endfor %}
    </div>
  
    <div class="bottom-block">
    </div>
</body>
</html>
