<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CeeFind</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<div class="register">
		<a class="login" href="{{ url_for('home') }}">Home</a>
	</div>
	<div class="label">
		<div>
			<h1 class="name"><span>C</span>ee<strong><span>f</span></strong>in<span>d</span></h1>
			<p class="def">ver<span class="span">ify</span> your emai<span class="span">l</span></p>
		</div>
	</div>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<h2>{{ message }}</h2>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<div style="display: block;
	width: 60%;
	margin: auto;
	text-align: center;">
	{% if count != 3 %}
	<h2>Welcome to CeeFind</h2>
	<p>We've sent a Verification link to {{ email }}</p>
	<p>Please click the link to confirm your email</p>
	{% else %}
	<h2>Welcome to CeeFind</h2>
	<p>you've reached the maximun amount of link to be sent per day, try again tomorrow.</p>
	{% endif %}
	</div>
</body>
</html>
